@import 'mixins.scss';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 4rem;
}

.App-header {
  background-color: #72B095;
  padding: 1rem;
  color: white;


  p {
    padding: 0;
    margin: 0;
    background: transparent;
    color: #1F7872;
    font-size: 0.8rem;
    text-align: center;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
